:root {
  --color-white: white;
  --color-black: black;
  --color-blue: #2a70e0;
}

dark-mode {
  --color-white: #121212;
  --color-black: #e0e0e0;
  --color-blue: #4a90e2;
}

body {
  font-family: Roboto, sans-serif;
  background-image: url('#');
  margin: 0;
  padding-top: 0px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  color:var(--color-black);
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-white);
}

.navbar-toggler {
  border: 1px solid var(--color-black);
  /* optional: removes the border */
}

/* Custom hamburger icon */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

a {
  padding: 0 20px;
  margin: 0;
}

.nav-link {
  text-decoration: underline !important;
  color: var(--color-black);
}

section {
  margin: 0%;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://plus.unsplash.com/premium_photo-1697729926633-1d9048a2d60a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070');
  background-size: cover;
  color: var(--color-white);
  height: 400px;
  margin: 0;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: var(--color-white);
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: var(--color-white);
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.btn.btn-primary:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-blue);
  color: var(--color-white);
  margin: 0 0 30px;
}

.portrait {
  width: 350px;
  height: 300px;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 0px;
}

footer {
  font-size: 12px;
  padding: 0px 0;
  margin: 0%;
}


footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: underline !important;
  color: var(--color-black);
}